.App {
  text-align: center;
}

a{
  color: white
} 

a:hover {
   color: burlywood
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #881c1c;
  color: white;
}

.nav-links {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.introduction-part {
  width: 80%;
  display: inline-block;
  text-align: left;
  font-size: large;
}