git# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
# dependencies
scenario_editor/node_modules
scenario_editor/.pnp
escenario_editor/.pnp.js

# testing
scenario_editor/coverage

# production
scenario_editor/build

# misc
scenario_editor/.DS_Store
scenario_editor/.env.local
scenario_editor/.env.development.local
scenario_editor/.env.test.local
scenario_editor/.env.production.local

scenario_editor/npm-debug.log*
scenario_editor/yarn-debug.log*
scenario_editor/yarn-error.log*
