.text-editor{
    margin-top: 4%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 4%;
    display: flex;
    width: '%100';
    justify-content: space-around;
    align-items: center;
    border: 5px solid #881c1c;
  
}

.Matrix-header{
    display:flex;
}